@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
}

pre {
  /* Ensures the code block doesn't force the page to expand beyond the viewport */
  max-width: 100%;
  /* Adds a horizontal scrollbar if the content overflows the container's width */
  overflow-x: auto;
  /* Optional: Add some padding and a background for better presentation */
  padding: 1em;
  /* Optional: Add a border */
  max-height: 500px;
}

li {
  margin-bottom: 0;
}
