@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

pre {
  /* Ensures the code block doesn't force the page to expand beyond the viewport */
  max-width: 100%;
  /* Adds a horizontal scrollbar if the content overflows the container's width */
  overflow-x: auto;
  /* Optional: Add some padding and a background for better presentation */
  padding: 1em;
  /* Optional: Add a border */
  max-height: 500px;
}

li {
  margin-bottom: 0;
}
